<div id="confirmation-modal" class="modal hidden">
    <div class="modal-content">
        <h3>Confirmation</h3>
        <p>Voulez-vous vraiment tout effacer ?</p>
        <div class="modal-actions">
            <button id="confirm-cancel" class="secondary">Annuler</button>
            <button id="confirm-ok" class="danger-btn">Tout effacer</button>
        </div>
    </div>
</div>