<div id="game-end-modal" class="modal hidden">
    <div class="modal-content result-content">
        <h2><i class="fas fa-trophy"></i> Classement Final</h2>
        <div id="game-end-scores" class="result-scores leaderboard"></div>
        <div class="modal-actions">
            <button id="btn-return-lobby" class="btn-primary">Retour au lobby</button>
        </div>
    </div>
</div>