<div id="help-modal" class="modal hidden">
    <div class="modal-content help-content">
        <div class="modal-header">
            <h3><i class="fas fa-question-circle"></i> Aide & Raccourcis</h3>
            <button id="btn-close-help" class="close-btn"><i class="fas fa-times"></i></button>
        </div>
        <div class="help-body">
            <div class="help-grid">
                <div class="help-section">
                    <h4>Outils</h4>
                    <ul class="shortcut-list">
                        <li><span class="key">1</span> Crayon</li>
                        <li><span class="key">2</span> Spray</li>
                        <li><span class="key">3</span> Remplir</li>
                        <li><span class="key">4</span> Etaler</li>
                        <li><span class="key">5</span> Gomme</li>
                        <li><span class="key">6</span> Pipette</li>
                        <li><span class="key">7</span> Sélection</li>
                    </ul>
                </div>
                <div class="help-section">
                    <h4>Formes</h4>
                    <ul class="shortcut-list">
                        <li><span class="key">8</span> Carré</li>
                        <li><span class="key">9</span> Cercle</li>
                        <li><span class="key">0</span> Triangle</li>
                        <li><span class="key">-</span> Trait</li>
                    </ul>
                </div>
                <div class="help-section full-width">
                    <h4>Actions</h4>
                    <ul class="shortcut-list two-col">
                        <li>
                            <span class="key-group">
                                <span class="key">Ctrl</span> + <span class="key">Z</span>
                            </span>
                            Annuler
                        </li>
                        <li>
                            <span class="key-group">
                                <span class="key">Ctrl</span> + <span class="key">Y</span>
                            </span>
                            Rétablir
                        </li>
                        <li>
                            <span class="key-group">
                                <span class="key">Maj</span>
                            </span>
                            (Maintenir) Pipette rapide
                        </li>
                        <li>
                            <span class="key-group">
                                <span class="key">Ctrl</span> + <span class="key">Molette</span>
                            </span>
                            Taille outil
                        </li>
                        <li>
                            <span class="key-group">
                                <span class="key">Alt</span> + <span class="key">Molette</span>
                            </span>
                            Opacité outil
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>