<div id="kick-confirmation-modal" class="modal hidden">
    <div class="modal-content">
        <h3>Expulsion</h3>
        <p>Voulez-vous vraiment expulser <span id="kick-player-name" style="font-weight:bold; color:var(--primary);"></span> ?</p>
        <div class="modal-actions">
            <button id="kick-cancel" class="secondary">Annuler</button>
            <button id="kick-confirm" class="danger-btn">Expulser</button>
        </div>
    </div>
</div>