<div id="roulette-modal" class="modal hidden">
    <div class="modal-content roulette-content">
        <h3><i class="fas fa-dice"></i> Tirage au sort du thème</h3>
        
        <div class="roulette-machine">
            <div class="roulette-window">
                <div class="roulette-strip" id="roulette-strip">
                    <!-- Words will be injected here -->
                </div>
                <div class="roulette-overlay"></div>
                <div class="roulette-line"></div>
            </div>
        </div>

        <div id="roulette-result" class="roulette-result hidden">
            <div class="winner-label">Le thème est :</div>
            <div class="winner-word" id="roulette-winner-word"></div>
        </div>
    </div>
</div>
