<div id="word-choice-modal" class="modal hidden">
    <div class="modal-content">
        <h3>Choisissez un mot</h3>
        <div class="word-choice-timer">Temps restant : <span id="word-choice-timer-val">20</span>s</div>
        <div id="word-choices-container" class="word-choices">
            <!-- Buttons will be injected here -->
        </div>
    </div>
</div>