name: Deploy to ISPConfig

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          # On va dans le dossier
          cd ${{ secrets.TARGET_DIR }}
          
          # On récupère le dernier code
          git pull origin main
          
          # On installe les nouvelles dépendances si besoin
          npm install --production
          
          # On redémarre l'app via PM2 pour prendre en compte les changements
          pm2 restart "draw-it" || pm2 start server/server.js --name "draw-it"