<!-- Visages -->
<div class="emoji-category-header">Visages</div>
<div class="emoji-option selected" data-value="🎨">🎨</div>
<div class="emoji-option" data-value="😀">😀</div>
<div class="emoji-option" data-value="😎">😎</div>
<div class="emoji-option" data-value="🥳">🥳</div>
<div class="emoji-option" data-value="🤯">🤯</div>
<div class="emoji-option" data-value="🥶">🥶</div>
<div class="emoji-option" data-value="🤠">🤠</div>
<div class="emoji-option" data-value="🤡">🤡</div>
<div class="emoji-option" data-value="👻">👻</div>
<div class="emoji-option" data-value="👽">👽</div>
<div class="emoji-option" data-value="🤖">🤖</div>
<div class="emoji-option" data-value="💩">💩</div>
<div class="emoji-option" data-value="👺">👺</div>
<div class="emoji-option" data-value="👹">👹</div>
<div class="emoji-option" data-value="👿">👿</div>
<div class="emoji-option" data-value="💀">💀</div>
<div class="emoji-option" data-value="😷">😷</div>
<div class="emoji-option" data-value="🤒">🤒</div>
<div class="emoji-option" data-value="🤕">🤕</div>
<div class="emoji-option" data-value="🤢">🤢</div>
<div class="emoji-option" data-value="🤮">🤮</div>
<div class="emoji-option" data-value="🤧">🤧</div>
<div class="emoji-option" data-value="🥵">🥵</div>
<div class="emoji-option" data-value="🥶">🥶</div>
<div class="emoji-option" data-value="🥴">🥴</div>
<div class="emoji-option" data-value="😵">😵</div>
<div class="emoji-option" data-value="🤯">🤯</div>
<div class="emoji-option" data-value="🤠">🤠</div>
<div class="emoji-option" data-value="🥳">🥳</div>
<div class="emoji-option" data-value="😎">😎</div>
<div class="emoji-option" data-value="🤓">🤓</div>
<div class="emoji-option" data-value="🧐">🧐</div>
<div class="emoji-option" data-value="😕">😕</div>
<div class="emoji-option" data-value="😟">😟</div>
<div class="emoji-option" data-value="🙁">🙁</div>
<div class="emoji-option" data-value="😮">😮</div>
<div class="emoji-option" data-value="😯">😯</div>
<div class="emoji-option" data-value="😲">😲</div>
<div class="emoji-option" data-value="😳">😳</div>
<div class="emoji-option" data-value="🥺">🥺</div>
<div class="emoji-option" data-value="😦">😦</div>
<div class="emoji-option" data-value="😧">😧</div>
<div class="emoji-option" data-value="😨">😨</div>
<div class="emoji-option" data-value="😰">😰</div>
<div class="emoji-option" data-value="😥">😥</div>
<div class="emoji-option" data-value="😢">😢</div>
<div class="emoji-option" data-value="😭">😭</div>
<div class="emoji-option" data-value="😱">😱</div>
<div class="emoji-option" data-value="😖">😖</div>
<div class="emoji-option" data-value="😣">😣</div>
<div class="emoji-option" data-value="😞">😞</div>
<div class="emoji-option" data-value="😓">😓</div>
<div class="emoji-option" data-value="😩">😩</div>
<div class="emoji-option" data-value="😫">😫</div>
<div class="emoji-option" data-value="🥱">🥱</div>
<div class="emoji-option" data-value="😤">😤</div>
<div class="emoji-option" data-value="😡">😡</div>
<div class="emoji-option" data-value="😠">😠</div>
<div class="emoji-option" data-value="🤬">🤬</div>
<div class="emoji-option" data-value="😈">😈</div>
<div class="emoji-option" data-value="👿">👿</div>
<div class="emoji-option" data-value="💀">💀</div>
<div class="emoji-option" data-value="☠">☠</div>

<!-- Animaux -->
<div class="emoji-category-header">Animaux</div>
<div class="emoji-option" data-value="🐶">🐶</div>
<div class="emoji-option" data-value="🐱">🐱</div>
<div class="emoji-option" data-value="🐭">🐭</div>
<div class="emoji-option" data-value="🐹">🐹</div>
<div class="emoji-option" data-value="🐰">🐰</div>
<div class="emoji-option" data-value="🦊">🦊</div>
<div class="emoji-option" data-value="🐻">🐻</div>
<div class="emoji-option" data-value="🐼">🐼</div>
<div class="emoji-option" data-value="🐨">🐨</div>
<div class="emoji-option" data-value="🐯">🐯</div>
<div class="emoji-option" data-value="🦁">🦁</div>
<div class="emoji-option" data-value="🐮">🐮</div>
<div class="emoji-option" data-value="🐷">🐷</div>
<div class="emoji-option" data-value="🐸">🐸</div>
<div class="emoji-option" data-value="🐵">🐵</div>
<div class="emoji-option" data-value="🐔">🐔</div>
<div class="emoji-option" data-value="🐧">🐧</div>
<div class="emoji-option" data-value="🐦">🐦</div>
<div class="emoji-option" data-value="🐤">🐤</div>
<div class="emoji-option" data-value="🦆">🦆</div>
<div class="emoji-option" data-value="🦅">🦅</div>
<div class="emoji-option" data-value="🦉">🦉</div>
<div class="emoji-option" data-value="🦇">🦇</div>
<div class="emoji-option" data-value="🐺">🐺</div>
<div class="emoji-option" data-value="🐗">🐗</div>
<div class="emoji-option" data-value="🐴">🐴</div>
<div class="emoji-option" data-value="🦄">🦄</div>
<div class="emoji-option" data-value="🐝">🐝</div>
<div class="emoji-option" data-value="🐛">🐛</div>
<div class="emoji-option" data-value="🦋">🦋</div>
<div class="emoji-option" data-value="🐌">🐌</div>
<div class="emoji-option" data-value="🐞">🐞</div>
<div class="emoji-option" data-value="🐜">🐜</div>
<div class="emoji-option" data-value="🦟">🦟</div>
<div class="emoji-option" data-value="🦗">🦗</div>
<div class="emoji-option" data-value="🕷">🕷</div>
<div class="emoji-option" data-value="🦂">🦂</div>
<div class="emoji-option" data-value="🐢">🐢</div>
<div class="emoji-option" data-value="🐍">🐍</div>
<div class="emoji-option" data-value="🦎">🦎</div>
<div class="emoji-option" data-value="🦖">🦖</div>
<div class="emoji-option" data-value="🦕">🦕</div>
<div class="emoji-option" data-value="🐙">🐙</div>
<div class="emoji-option" data-value="🦑">🦑</div>
<div class="emoji-option" data-value="🦐">🦐</div>
<div class="emoji-option" data-value="🦞">🦞</div>
<div class="emoji-option" data-value="🦀">🦀</div>
<div class="emoji-option" data-value="🐡">🐡</div>
<div class="emoji-option" data-value="🐠">🐠</div>
<div class="emoji-option" data-value="🐟">🐟</div>
<div class="emoji-option" data-value="🐬">🐬</div>
<div class="emoji-option" data-value="🐳">🐳</div>
<div class="emoji-option" data-value="🐋">🐋</div>
<div class="emoji-option" data-value="🦈">🦈</div>
<div class="emoji-option" data-value="🐊">🐊</div>
<div class="emoji-option" data-value="🐅">🐅</div>
<div class="emoji-option" data-value="🐆">🐆</div>
<div class="emoji-option" data-value="🦓">🦓</div>
<div class="emoji-option" data-value="🦍">🦍</div>
<div class="emoji-option" data-value="🦧">🦧</div>
<div class="emoji-option" data-value="🐘">🐘</div>
<div class="emoji-option" data-value="🦛">🦛</div>
<div class="emoji-option" data-value="🦏">🦏</div>
<div class="emoji-option" data-value="🐪">🐪</div>
<div class="emoji-option" data-value="🐫">🐫</div>
<div class="emoji-option" data-value="🦒">🦒</div>
<div class="emoji-option" data-value="🦘">🦘</div>
<div class="emoji-option" data-value="🐃">🐃</div>
<div class="emoji-option" data-value="🐂">🐂</div>
<div class="emoji-option" data-value="🐄">🐄</div>
<div class="emoji-option" data-value="🐎">🐎</div>
<div class="emoji-option" data-value="🐖">🐖</div>
<div class="emoji-option" data-value="🐏">🐏</div>
<div class="emoji-option" data-value="🐑">🐑</div>
<div class="emoji-option" data-value="🦙">🦙</div>
<div class="emoji-option" data-value="🐐">🐐</div>
<div class="emoji-option" data-value="🦌">🦌</div>
<div class="emoji-option" data-value="🐕">🐕</div>
<div class="emoji-option" data-value="🐩">🐩</div>
<div class="emoji-option" data-value="🦮">🦮</div>
<div class="emoji-option" data-value="🐕‍🦺">🐕‍🦺</div>
<div class="emoji-option" data-value="🐈">🐈</div>
<div class="emoji-option" data-value="🐓">🐓</div>
<div class="emoji-option" data-value="🦃">🦃</div>
<div class="emoji-option" data-value="🦚">🦚</div>
<div class="emoji-option" data-value="🦜">🦜</div>
<div class="emoji-option" data-value="🦢">🦢</div>
<div class="emoji-option" data-value="🦩">🦩</div>
<div class="emoji-option" data-value="🕊">🕊</div>
<div class="emoji-option" data-value="🐇">🐇</div>
<div class="emoji-option" data-value="🦝">🦝</div>
<div class="emoji-option" data-value="🦨">🦨</div>
<div class="emoji-option" data-value="🦡">🦡</div>
<div class="emoji-option" data-value="🦦">🦦</div>
<div class="emoji-option" data-value="🦥">🦥</div>
<div class="emoji-option" data-value="🐁">🐁</div>
<div class="emoji-option" data-value="🐀">🐀</div>
<div class="emoji-option" data-value="🐿">🐿</div>
<div class="emoji-option" data-value="🦔">🦔</div>
<div class="emoji-option" data-value="🐉">🐉</div>
<div class="emoji-option" data-value="🐲">🐲</div>

<!-- Nourriture -->
<div class="emoji-category-header">Nourriture</div>
<div class="emoji-option" data-value="🍏">🍏</div>
<div class="emoji-option" data-value="🍎">🍎</div>
<div class="emoji-option" data-value="🍐">🍐</div>
<div class="emoji-option" data-value="🍊">🍊</div>
<div class="emoji-option" data-value="🍋">🍋</div>
<div class="emoji-option" data-value="🍌">🍌</div>
<div class="emoji-option" data-value="🍉">🍉</div>
<div class="emoji-option" data-value="🍇">🍇</div>
<div class="emoji-option" data-value="🍓">🍓</div>
<div class="emoji-option" data-value="🍈">🍈</div>
<div class="emoji-option" data-value="🍒">🍒</div>
<div class="emoji-option" data-value="🍑">🍑</div>
<div class="emoji-option" data-value="🥭">🥭</div>
<div class="emoji-option" data-value="🍍">🍍</div>
<div class="emoji-option" data-value="🥥">🥥</div>
<div class="emoji-option" data-value="🥝">🥝</div>
<div class="emoji-option" data-value="🍅">🍅</div>
<div class="emoji-option" data-value="🍆">🍆</div>
<div class="emoji-option" data-value="🥑">🥑</div>
<div class="emoji-option" data-value="🥦">🥦</div>
<div class="emoji-option" data-value="🥬">🥬</div>
<div class="emoji-option" data-value="🥒">🥒</div>
<div class="emoji-option" data-value="🌶">🌶</div>
<div class="emoji-option" data-value="🌽">🌽</div>
<div class="emoji-option" data-value="🥕">🥕</div>
<div class="emoji-option" data-value="🧄">🧄</div>
<div class="emoji-option" data-value="🧅">🧅</div>
<div class="emoji-option" data-value="🥔">🥔</div>
<div class="emoji-option" data-value="🍠">🍠</div>
<div class="emoji-option" data-value="🥐">🥐</div>
<div class="emoji-option" data-value="🥯">🥯</div>
<div class="emoji-option" data-value="🍞">🍞</div>
<div class="emoji-option" data-value="🥖">🥖</div>
<div class="emoji-option" data-value="🥨">🥨</div>
<div class="emoji-option" data-value="🧀">🧀</div>
<div class="emoji-option" data-value="🥚">🥚</div>
<div class="emoji-option" data-value="🍳">🍳</div>
<div class="emoji-option" data-value="🧈">🧈</div>
<div class="emoji-option" data-value="🥞">🥞</div>
<div class="emoji-option" data-value="🧇">🧇</div>
<div class="emoji-option" data-value="🥓">🥓</div>
<div class="emoji-option" data-value="🥩">🥩</div>
<div class="emoji-option" data-value="🍗">🍗</div>
<div class="emoji-option" data-value="🍖">🍖</div>
<div class="emoji-option" data-value="🦴">🦴</div>
<div class="emoji-option" data-value="🌭">🌭</div>
<div class="emoji-option" data-value="🍔">🍔</div>
<div class="emoji-option" data-value="🍟">🍟</div>
<div class="emoji-option" data-value="🍕">🍕</div>
<div class="emoji-option" data-value="🥪">🥪</div>
<div class="emoji-option" data-value="🥙">🥙</div>
<div class="emoji-option" data-value="🧆">🧆</div>
<div class="emoji-option" data-value="🌮">🌮</div>
<div class="emoji-option" data-value="🌯">🌯</div>
<div class="emoji-option" data-value="🥗">🥗</div>
<div class="emoji-option" data-value="🥘">🥘</div>
<div class="emoji-option" data-value="🥫">🥫</div>
<div class="emoji-option" data-value="🍝">🍝</div>
<div class="emoji-option" data-value="🍜">🍜</div>
<div class="emoji-option" data-value="🍲">🍲</div>
<div class="emoji-option" data-value="🍛">🍛</div>
<div class="emoji-option" data-value="🍣">🍣</div>
<div class="emoji-option" data-value="🍱">🍱</div>
<div class="emoji-option" data-value="🥟">🥟</div>
<div class="emoji-option" data-value="🦪">🦪</div>
<div class="emoji-option" data-value="🍤">🍤</div>
<div class="emoji-option" data-value="🍙">🍙</div>
<div class="emoji-option" data-value="🍚">🍚</div>
<div class="emoji-option" data-value="🍘">🍘</div>
<div class="emoji-option" data-value="🍥">🍥</div>
<div class="emoji-option" data-value="🥠">🥠</div>
<div class="emoji-option" data-value="🥮">🥮</div>
<div class="emoji-option" data-value="🍢">🍢</div>
<div class="emoji-option" data-value="🍡">🍡</div>
<div class="emoji-option" data-value="🍧">🍧</div>
<div class="emoji-option" data-value="🍨">🍨</div>
<div class="emoji-option" data-value="🍦">🍦</div>
<div class="emoji-option" data-value="🥧">🥧</div>
<div class="emoji-option" data-value="🧁">🧁</div>
<div class="emoji-option" data-value="🍰">🍰</div>
<div class="emoji-option" data-value="🎂">🎂</div>
<div class="emoji-option" data-value="🍮">🍮</div>
<div class="emoji-option" data-value="🍭">🍭</div>
<div class="emoji-option" data-value="🍬">🍬</div>
<div class="emoji-option" data-value="🍫">🍫</div>
<div class="emoji-option" data-value="🍿">🍿</div>
<div class="emoji-option" data-value="🍩">🍩</div>
<div class="emoji-option" data-value="🍪">🍪</div>
<div class="emoji-option" data-value="🌰">🌰</div>
<div class="emoji-option" data-value="🥜">🥜</div>
<div class="emoji-option" data-value="🍯">🍯</div>
<div class="emoji-option" data-value="🥛">🥛</div>
<div class="emoji-option" data-value="🍼">🍼</div>
<div class="emoji-option" data-value="☕">☕</div>
<div class="emoji-option" data-value="🍵">🍵</div>
<div class="emoji-option" data-value="🧃">🧃</div>
<div class="emoji-option" data-value="🥤">🥤</div>
<div class="emoji-option" data-value="🍶">🍶</div>
<div class="emoji-option" data-value="🍺">🍺</div>
<div class="emoji-option" data-value="🍻">🍻</div>
<div class="emoji-option" data-value="🥂">🥂</div>
<div class="emoji-option" data-value="🍷">🍷</div>
<div class="emoji-option" data-value="🥃">🥃</div>
<div class="emoji-option" data-value="🍸">🍸</div>
<div class="emoji-option" data-value="🍹">🍹</div>
<div class="emoji-option" data-value="🧉">🧉</div>
<div class="emoji-option" data-value="🍾">🍾</div>
<div class="emoji-option" data-value="🧊">🧊</div>
<div class="emoji-option" data-value="🥄">🥄</div>
<div class="emoji-option" data-value="🍴">🍴</div>
<div class="emoji-option" data-value="🍽">🍽</div>
<div class="emoji-option" data-value="🥣">🥣</div>
<div class="emoji-option" data-value="🥡">🥡</div>
<div class="emoji-option" data-value="🥢">🥢</div>
<div class="emoji-option" data-value="🧂">🧂</div>

<!-- Activités -->
<div class="emoji-category-header">Activités</div>
<div class="emoji-option" data-value="⚽">⚽</div>
<div class="emoji-option" data-value="🏀">🏀</div>
<div class="emoji-option" data-value="🏈">🏈</div>
<div class="emoji-option" data-value="⚾">⚾</div>
<div class="emoji-option" data-value="🥎">🥎</div>
<div class="emoji-option" data-value="🎾">🎾</div>
<div class="emoji-option" data-value="🏐">🏐</div>
<div class="emoji-option" data-value="🏉">🏉</div>
<div class="emoji-option" data-value="🥏">🥏</div>
<div class="emoji-option" data-value="🎱">🎱</div>
<div class="emoji-option" data-value="🪀">🪀</div>
<div class="emoji-option" data-value="🏓">🏓</div>
<div class="emoji-option" data-value="🏸">🏸</div>
<div class="emoji-option" data-value="🏒">🏒</div>
<div class="emoji-option" data-value="🏑">🏑</div>
<div class="emoji-option" data-value="🥍">🥍</div>
<div class="emoji-option" data-value="🏏">🏏</div>
<div class="emoji-option" data-value="🥅">🥅</div>
<div class="emoji-option" data-value="⛳">⛳</div>
<div class="emoji-option" data-value="🪁">🪁</div>
<div class="emoji-option" data-value="🏹">🏹</div>
<div class="emoji-option" data-value="🎣">🎣</div>
<div class="emoji-option" data-value="🤿">🤿</div>
<div class="emoji-option" data-value="🥊">🥊</div>
<div class="emoji-option" data-value="🥋">🥋</div>
<div class="emoji-option" data-value="🎽">🎽</div>
<div class="emoji-option" data-value="🛹">🛹</div>
<div class="emoji-option" data-value="🛷">🛷</div>
<div class="emoji-option" data-value="⛸">⛸</div>
<div class="emoji-option" data-value="🥌">🥌</div>
<div class="emoji-option" data-value="🎿">🎿</div>
<div class="emoji-option" data-value="⛷">⛷</div>
<div class="emoji-option" data-value="🏂">🏂</div>
<div class="emoji-option" data-value="🪂">🪂</div>
<div class="emoji-option" data-value="🏋">🏋</div>
<div class="emoji-option" data-value="🤼">🤼</div>
<div class="emoji-option" data-value="🤸">🤸</div>
<div class="emoji-option" data-value="⛹">⛹</div>
<div class="emoji-option" data-value="🤺">🤺</div>
<div class="emoji-option" data-value="🤾">🤾</div>
<div class="emoji-option" data-value="🏌">🏌</div>
<div class="emoji-option" data-value="🏇">🏇</div>
<div class="emoji-option" data-value="🧘">🧘</div>
<div class="emoji-option" data-value="🏄">🏄</div>
<div class="emoji-option" data-value="🏊">🏊</div>
<div class="emoji-option" data-value="🤽">🤽</div>
<div class="emoji-option" data-value="🚣">🚣</div>
<div class="emoji-option" data-value="🧗">🧗</div>
<div class="emoji-option" data-value="🚵">🚵</div>
<div class="emoji-option" data-value="🚴">🚴</div>
<div class="emoji-option" data-value="🏆">🏆</div>
<div class="emoji-option" data-value="🥇">🥇</div>
<div class="emoji-option" data-value="🥈">🥈</div>
<div class="emoji-option" data-value="🥉">🥉</div>
<div class="emoji-option" data-value="🏅">🏅</div>
<div class="emoji-option" data-value="🎖">🎖</div>
<div class="emoji-option" data-value="🏵">🏵</div>
<div class="emoji-option" data-value="🎗">🎗</div>
<div class="emoji-option" data-value="🎫">🎫</div>
<div class="emoji-option" data-value="🎟">🎟</div>
<div class="emoji-option" data-value="🎪">🎪</div>
<div class="emoji-option" data-value="🤹">🤹</div>
<div class="emoji-option" data-value="🎭">🎭</div>
<div class="emoji-option" data-value="🩰">🩰</div>
<div class="emoji-option" data-value="🎨">🎨</div>
<div class="emoji-option" data-value="🎬">🎬</div>
<div class="emoji-option" data-value="🎤">🎤</div>
<div class="emoji-option" data-value="🎧">🎧</div>
<div class="emoji-option" data-value="🎼">🎼</div>
<div class="emoji-option" data-value="🎹">🎹</div>
<div class="emoji-option" data-value="🥁">🥁</div>
<div class="emoji-option" data-value="🎷">🎷</div>
<div class="emoji-option" data-value="🎺">🎺</div>
<div class="emoji-option" data-value="🎸">🎸</div>
<div class="emoji-option" data-value="🪕">🪕</div>
<div class="emoji-option" data-value="🎻">🎻</div>
<div class="emoji-option" data-value="🎲">🎲</div>
<div class="emoji-option" data-value="♟">♟</div>
<div class="emoji-option" data-value="🎯">🎯</div>
<div class="emoji-option" data-value="🎳">🎳</div>
<div class="emoji-option" data-value="🎮">🎮</div>
<div class="emoji-option" data-value="🎰">🎰</div>
<div class="emoji-option" data-value="🧩">🧩</div>

<!-- Objets -->
<div class="emoji-category-header">Objets</div>
<div class="emoji-option" data-value="🚀">🚀</div>
<div class="emoji-option" data-value="🛸">🛸</div>
<div class="emoji-option" data-value="🚁">🚁</div>
<div class="emoji-option" data-value="🛶">🛶</div>
<div class="emoji-option" data-value="⛵">⛵</div>
<div class="emoji-option" data-value="🚤">🚤</div>
<div class="emoji-option" data-value="🛥">🛥</div>
<div class="emoji-option" data-value="🛳">🛳</div>
<div class="emoji-option" data-value="⛴">⛴</div>
<div class="emoji-option" data-value="🚢">🚢</div>
<div class="emoji-option" data-value="⚓">⚓</div>
<div class="emoji-option" data-value="⛽">⛽</div>
<div class="emoji-option" data-value="🚧">🚧</div>
<div class="emoji-option" data-value="🚦">🚦</div>
<div class="emoji-option" data-value="🚥">🚥</div>
<div class="emoji-option" data-value="🚏">🚏</div>
<div class="emoji-option" data-value="🗺">🗺</div>
<div class="emoji-option" data-value="🗿">🗿</div>
<div class="emoji-option" data-value="🗽">🗽</div>
<div class="emoji-option" data-value="🗼">🗼</div>
<div class="emoji-option" data-value="🏰">🏰</div>
<div class="emoji-option" data-value="🏯">🏯</div>
<div class="emoji-option" data-value="🏟">🏟</div>
<div class="emoji-option" data-value="🎡">🎡</div>
<div class="emoji-option" data-value="🎢">🎢</div>
<div class="emoji-option" data-value="🎠">🎠</div>
<div class="emoji-option" data-value="⛲">⛲</div>
<div class="emoji-option" data-value="⛱">⛱</div>
<div class="emoji-option" data-value="🏖">🏖</div>
<div class="emoji-option" data-value="🏝">🏝</div>
<div class="emoji-option" data-value="🏜">🏜</div>
<div class="emoji-option" data-value="🌋">🌋</div>
<div class="emoji-option" data-value="⛰">⛰</div>
<div class="emoji-option" data-value="🏔">🏔</div>
<div class="emoji-option" data-value="🗻">🗻</div>
<div class="emoji-option" data-value="🏕">🏕</div>
<div class="emoji-option" data-value="⛺">⛺</div>
<div class="emoji-option" data-value="🏠">🏠</div>
<div class="emoji-option" data-value="🏡">🏡</div>
<div class="emoji-option" data-value="🏘">🏘</div>
<div class="emoji-option" data-value="🏚">🏚</div>
<div class="emoji-option" data-value="🏗">🏗</div>
<div class="emoji-option" data-value="🏭">🏭</div>
<div class="emoji-option" data-value="🏢">🏢</div>
<div class="emoji-option" data-value="🏬">🏬</div>
<div class="emoji-option" data-value="🏣">🏣</div>
<div class="emoji-option" data-value="🏤">🏤</div>
<div class="emoji-option" data-value="🏥">🏥</div>
<div class="emoji-option" data-value="🏦">🏦</div>
<div class="emoji-option" data-value="🏨">🏨</div>
<div class="emoji-option" data-value="🏪">🏪</div>
<div class="emoji-option" data-value="🏫">🏫</div>
<div class="emoji-option" data-value="🏩">🏩</div>
<div class="emoji-option" data-value="💒">💒</div>
<div class="emoji-option" data-value="🏛">🏛</div>
<div class="emoji-option" data-value="⛪">⛪</div>
<div class="emoji-option" data-value="🕌">🕌</div>
<div class="emoji-option" data-value="🕍">🕍</div>
<div class="emoji-option" data-value="🛕">🛕</div>
<div class="emoji-option" data-value="🕋">🕋</div>
<div class="emoji-option" data-value="⛩">⛩</div>
<div class="emoji-option" data-value="🛤">🛤</div>
<div class="emoji-option" data-value="🛣">🛣</div>
<div class="emoji-option" data-value="🗾">🗾</div>
<div class="emoji-option" data-value="🎑">🎑</div>
<div class="emoji-option" data-value="🏞">🏞</div>
<div class="emoji-option" data-value="🌅">🌅</div>
<div class="emoji-option" data-value="🌄">🌄</div>
<div class="emoji-option" data-value="🌠">🌠</div>
<div class="emoji-option" data-value="🎇">🎇</div>
<div class="emoji-option" data-value="🎆">🎆</div>
<div class="emoji-option" data-value="🌇">🌇</div>
<div class="emoji-option" data-value="🌆">🌆</div>
<div class="emoji-option" data-value="🏙">🏙</div>
<div class="emoji-option" data-value="🌃">🌃</div>
<div class="emoji-option" data-value="🌌">🌌</div>
<div class="emoji-option" data-value="🌉">🌉</div>
<div class="emoji-option" data-value="🌁">🌁</div>
<div class="emoji-option" data-value="⌚">⌚</div>
<div class="emoji-option" data-value="📱">📱</div>
<div class="emoji-option" data-value="📲">📲</div>
<div class="emoji-option" data-value="💻">💻</div>
<div class="emoji-option" data-value="⌨">⌨</div>
<div class="emoji-option" data-value="🖥">🖥</div>
<div class="emoji-option" data-value="🖨">🖨</div>
<div class="emoji-option" data-value="🖱">🖱</div>
<div class="emoji-option" data-value="🖲">🖲</div>
<div class="emoji-option" data-value="🕹">🕹</div>
<div class="emoji-option" data-value="🗜">🗜</div>
<div class="emoji-option" data-value="💽">💽</div>
<div class="emoji-option" data-value="💾">💾</div>
<div class="emoji-option" data-value="💿">💿</div>
<div class="emoji-option" data-value="📀">📀</div>
<div class="emoji-option" data-value="📼">📼</div>
<div class="emoji-option" data-value="📷">📷</div>
<div class="emoji-option" data-value="📸">📸</div>
<div class="emoji-option" data-value="📹">📹</div>
<div class="emoji-option" data-value="🎥">🎥</div>
<div class="emoji-option" data-value="📽">📽</div>
<div class="emoji-option" data-value="🎞">🎞</div>
<div class="emoji-option" data-value="📞">📞</div>
<div class="emoji-option" data-value="☎">☎</div>
<div class="emoji-option" data-value="📟">📟</div>
<div class="emoji-option" data-value="📠">📠</div>
<div class="emoji-option" data-value="📺">📺</div>
<div class="emoji-option" data-value="📻">📻</div>
<div class="emoji-option" data-value="🎙">🎙</div>
<div class="emoji-option" data-value="">🎚</div>
<div class="emoji-option" data-value="🎛">🎛</div>
<div class="emoji-option" data-value="🧭">🧭</div>
<div class="emoji-option" data-value="⏱">⏱</div>
<div class="emoji-option" data-value="⏲">⏲</div>
<div class="emoji-option" data-value="⏰">⏰</div>
<div class="emoji-option" data-value="🕰">🕰</div>
<div class="emoji-option" data-value="⌛">⌛</div>
<div class="emoji-option" data-value="⏳">⏳</div>
<div class="emoji-option" data-value="📡">📡</div>
<div class="emoji-option" data-value="🔋">🔋</div>
<div class="emoji-option" data-value="🔌">🔌</div>
<div class="emoji-option" data-value="💡">💡</div>
<div class="emoji-option" data-value="🔦">🔦</div>
<div class="emoji-option" data-value="🕯">🕯</div>
<div class="emoji-option" data-value="🪔">🪔</div>
<div class="emoji-option" data-value="🧯">🧯</div>
<div class="emoji-option" data-value="🛢">🛢</div>
<div class="emoji-option" data-value="💸">💸</div>
<div class="emoji-option" data-value="💵">💵</div>
<div class="emoji-option" data-value="💴">💴</div>
<div class="emoji-option" data-value="💶">💶</div>
<div class="emoji-option" data-value="💷">💷</div>
<div class="emoji-option" data-value="💰">💰</div>
<div class="emoji-option" data-value="💳">💳</div>
<div class="emoji-option" data-value="💎">💎</div>
<div class="emoji-option" data-value="⚖">⚖</div>
<div class="emoji-option" data-value="🧰">🧰</div>
<div class="emoji-option" data-value="🔧">🔧</div>
<div class="emoji-option" data-value="🔨">🔨</div>
<div class="emoji-option" data-value="⚒">⚒</div>
<div class="emoji-option" data-value="🛠">🛠</div>
<div class="emoji-option" data-value="⛏">⛏</div>
<div class="emoji-option" data-value="🔩">🔩</div>
<div class="emoji-option" data-value="⚙">⚙</div>
<div class="emoji-option" data-value="🧱">🧱</div>
<div class="emoji-option" data-value="⛓">⛓</div>
<div class="emoji-option" data-value="🧲">🧲</div>
<div class="emoji-option" data-value="🔫">🔫</div>
<div class="emoji-option" data-value="💣">💣</div>
<div class="emoji-option" data-value="🧨">🧨</div>
<div class="emoji-option" data-value="🪓">🪓</div>
<div class="emoji-option" data-value="🔪">🔪</div>
<div class="emoji-option" data-value="🗡">🗡</div>
<div class="emoji-option" data-value="⚔">⚔</div>
<div class="emoji-option" data-value="🛡">🛡</div>
<div class="emoji-option" data-value="🚬">🚬</div>
<div class="emoji-option" data-value="⚰">⚰</div>
<div class="emoji-option" data-value="⚱">⚱</div>
<div class="emoji-option" data-value="🏺">🏺</div>
<div class="emoji-option" data-value="🔮">🔮</div>
<div class="emoji-option" data-value="📿">📿</div>
<div class="emoji-option" data-value="🧿">🧿</div>
<div class="emoji-option" data-value="💈">💈</div>
<div class="emoji-option" data-value="⚗">⚗</div>
<div class="emoji-option" data-value="🔭">🔭</div>
<div class="emoji-option" data-value="🔬">🔬</div>
<div class="emoji-option" data-value="🕳">🕳</div>
<div class="emoji-option" data-value="🩹">🩹</div>
<div class="emoji-option" data-value="🩺">🩺</div>
<div class="emoji-option" data-value="💊">💊</div>
<div class="emoji-option" data-value="💉">💉</div>
<div class="emoji-option" data-value="🩸">🩸</div>
<div class="emoji-option" data-value="🧬">🧬</div>
<div class="emoji-option" data-value="🦠">🦠</div>
<div class="emoji-option" data-value="🧫">🧫</div>
<div class="emoji-option" data-value="🧪">🧪</div>
<div class="emoji-option" data-value="🌡">🌡</div>
<div class="emoji-option" data-value="🧹">🧹</div>
<div class="emoji-option" data-value="🧺">🧺</div>
<div class="emoji-option" data-value="🧻">🧻</div>
<div class="emoji-option" data-value="🚽">🚽</div>
<div class="emoji-option" data-value="🚰">🚰</div>
<div class="emoji-option" data-value="🚿">🚿</div>
<div class="emoji-option" data-value="🛁">🛁</div>
<div class="emoji-option" data-value="🛀">🛀</div>
<div class="emoji-option" data-value="🧼">🧼</div>
<div class="emoji-option" data-value="🪒">🪒</div>
<div class="emoji-option" data-value="🧽">🧽</div>
<div class="emoji-option" data-value="🧴">🧴</div>
<div class="emoji-option" data-value="🛎">🛎</div>
<div class="emoji-option" data-value="🔑">🔑</div>
<div class="emoji-option" data-value="🗝">🗝</div>
<div class="emoji-option" data-value="🚪">🚪</div>
<div class="emoji-option" data-value="🪑">🪑</div>
<div class="emoji-option" data-value="🛋">🛋</div>
<div class="emoji-option" data-value="🛏">🛏</div>
<div class="emoji-option" data-value="🛌">🛌</div>
<div class="emoji-option" data-value="🧸">🧸</div>
<div class="emoji-option" data-value="🖼">🖼</div>
<div class="emoji-option" data-value="🛍">🛍</div>
<div class="emoji-option" data-value="🛒">🛒</div>
<div class="emoji-option" data-value="🎁">🎁</div>
<div class="emoji-option" data-value="🎈">🎈</div>
<div class="emoji-option" data-value="🎏">🎏</div>
<div class="emoji-option" data-value="🎀">🎀</div>
<div class="emoji-option" data-value="🎊">🎊</div>
<div class="emoji-option" data-value="🎉">🎉</div>
<div class="emoji-option" data-value="🎎">🎎</div>
<div class="emoji-option" data-value="🏮">🏮</div>
<div class="emoji-option" data-value="🎐">🎐</div>
<div class="emoji-option" data-value="🧧">🧧</div>
<div class="emoji-option" data-value="✉">✉</div>
<div class="emoji-option" data-value="📩">📩</div>
<div class="emoji-option" data-value="📨">📨</div>
<div class="emoji-option" data-value="📧">📧</div>
<div class="emoji-option" data-value="💌">💌</div>
<div class="emoji-option" data-value="📥">📥</div>
<div class="emoji-option" data-value="📤">📤</div>
<div class="emoji-option" data-value="📦">📦</div>
<div class="emoji-option" data-value="🏷">🏷</div>
<div class="emoji-option" data-value="📪">📪</div>
<div class="emoji-option" data-value="📫">📫</div>
<div class="emoji-option" data-value="📬">📬</div>
<div class="emoji-option" data-value="📭">📭</div>
<div class="emoji-option" data-value="📮">📮</div>
<div class="emoji-option" data-value="📯">📯</div>
<div class="emoji-option" data-value="📜">📜</div>
<div class="emoji-option" data-value="📃">📃</div>
<div class="emoji-option" data-value="📄">📄</div>
<div class="emoji-option" data-value="📑">📑</div>
<div class="emoji-option" data-value="🧾">🧾</div>
<div class="emoji-option" data-value="📊">📊</div>
<div class="emoji-option" data-value="📈">📈</div>
<div class="emoji-option" data-value="📉">📉</div>
<div class="emoji-option" data-value="🗒">🗒</div>
<div class="emoji-option" data-value="🗓">🗓</div>
<div class="emoji-option" data-value="📆">📆</div>
<div class="emoji-option" data-value="📅">📅</div>
<div class="emoji-option" data-value="🗑">🗑</div>
<div class="emoji-option" data-value="📇">📇</div>
<div class="emoji-option" data-value="🗃">🗃</div>
<div class="emoji-option" data-value="🗳">🗳</div>
<div class="emoji-option" data-value="🗄">🗄</div>
<div class="emoji-option" data-value="📋">📋</div>
<div class="emoji-option" data-value="📁">📁</div>
<div class="emoji-option" data-value="📂">📂</div>
<div class="emoji-option" data-value="🗂">🗂</div>
<div class="emoji-option" data-value="🗞">🗞</div>
<div class="emoji-option" data-value="📰">📰</div>
<div class="emoji-option" data-value="📓">📓</div>
<div class="emoji-option" data-value="📔">📔</div>
<div class="emoji-option" data-value="📒">📒</div>
<div class="emoji-option" data-value="📕">📕</div>
<div class="emoji-option" data-value="📗">📗</div>
<div class="emoji-option" data-value="📘">📘</div>
<div class="emoji-option" data-value="📙">📙</div>
<div class="emoji-option" data-value="📚">📚</div>
<div class="emoji-option" data-value="📖">📖</div>
<div class="emoji-option" data-value="🔖">🔖</div>
<div class="emoji-option" data-value="🧷">🧷</div>
<div class="emoji-option" data-value="🔗">🔗</div>
<div class="emoji-option" data-value="📎">📎</div>
<div class="emoji-option" data-value="🖇">🖇</div>
<div class="emoji-option" data-value="📐">📐</div>
<div class="emoji-option" data-value="📏">📏</div>
<div class="emoji-option" data-value="🧮">🧮</div>
<div class="emoji-option" data-value="📌">📌</div>
<div class="emoji-option" data-value="📍">📍</div>
<div class="emoji-option" data-value="✂">✂</div>
<div class="emoji-option" data-value="🖊">🖊</div>
<div class="emoji-option" data-value="🖋">🖋</div>
<div class="emoji-option" data-value="✒">✒</div>
<div class="emoji-option" data-value="🖌">🖌</div>
<div class="emoji-option" data-value="🖍">🖍</div>
<div class="emoji-option" data-value="📝">📝</div>
<div class="emoji-option" data-value="✏">✏</div>
<div class="emoji-option" data-value="🔍">🔍</div>
<div class="emoji-option" data-value="🔎">🔎</div>
<div class="emoji-option" data-value="🔏">🔏</div>
<div class="emoji-option" data-value="🔐">🔐</div>
<div class="emoji-option" data-value="🔒">🔒</div>
<div class="emoji-option" data-value="🔓">🔓</div>